/* Styles for About Section */
.about-section {
  background: linear-gradient(to bottom, #f6c8c7, #fffdfd);
  position: relative;
  padding: 6rem 2rem 1rem;
  overflow: hidden;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  gap: 2rem;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image img {
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 100%;        /* ocupa todo el ancho de su columna */
  height: auto;       /* mantiene proporción */
  object-fit: cover;  /* recorta si hace falta para llenar la columna */
}

.about-text {
  padding-top: 5rem;
  flex-direction: column;
  justify-content: center; /* centra verticalmente el texto */
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2a0e0e; 
}

.about-text p {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #2a0e0e;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr; /* una columna */
    text-align: center;
  }

  /* Invertir orden: texto primero, imagen después */
  .about-text {
    order: 1;
  }

  .about-image {
    padding-top: 1rem;
    order: 2;
    margin: 0 auto;
  }
}


/* Ola animada superior */
.about-section .wave-top {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100px;
}

.about-section .wave-bottom {
  position: absolute;
  bottom: -1px;      /* pegada al final de la sección */
  left: 0;
  width: 100%;
  height: 100px;
  transform: rotate(180deg);
}