/* Títulos */
h1, h2, h3, h4, .button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Párrafos */
p, li, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.portfolio {
  position: relative;
  background-color: #ba8282;
  padding: 1px 2rem 4rem; /* más padding arriba para mostrar la ola */
  text-align: left;
  overflow: hidden; /* asegura que el SVG se vea bien */
}


.portfolio h2 {
  font-size: 2rem;
  padding-top: 1px;
  margin-bottom: 4px;
  color: white;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.portfolio-item {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.portfolio p {
  line-height: 1.6;
  color: white;
  margin-bottom: 2rem;
}