/* Contenedor general del carrusel de citas */
.appointments-section {
  padding: 1rem;
  text-align: left;
}

.appointments-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.appointment-section h3 {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: #875858;
}

/* Tarjeta de cita */
.appointment-card { 
  position: relative; 
  width: 90%; 
  height: 260px; 
  border-radius: 10px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; /*  espacio entre t铆tulo/texto y bot贸n */ 
  align-items: center; /*  centrar horizontalmente */ 
  padding: 1rem; 
  color: #fff; 
  background: linear-gradient(135deg, #d2a0a0, #885959); 
  overflow: hidden; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  transition: box-shadow 0.3s; 
}

/* Variantes por estado */ 
.appointment-card.agendada { 
  background: linear-gradient(135deg, #d2a0a0, #885959); /* verde intermedio */ 
} 
.appointment-card.finalizada { 
  background: linear-gradient(135deg, #e2e2e2, #2e2e2e); /* azul intermedio */ 
} 
.appointment-card.cancelada { 
  background: linear-gradient(135deg, #f69292, #761e1e); /* verde intermedio */ 
}

.appointment-card:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.appointment-card h4{
  position: relative;
  z-index: 1;
  margin: 0.5rem 0;
  text-align: center;
}

.appointment-card p {
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
  text-align: center;
}
.appointment-tag {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 6px;
  background-color: #d89998;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 12px;
  font-weight: 500;
  text-align: center;
}

/* Variantes por estado */ 
.appointment-tag.agendada { 
  background-color: #d89998;
} 

.appointment-tag.finalizada { 
  background-color: #2f2f2f; /* azul intermedio */ 
} 

.appointment-tag.cancelada { 
  background-color: #e15c5c; /* rojo intermedio */
} 


/* Flechas y paginaci贸n */
.swiper-button-next,
.swiper-button-prev {
  color: #87585800 !important;
}

.swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #875858 !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 1rem;
  text-align: left;
}


.no-appointments {
  color: #d49393;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}


/* Bot贸n centrado abajo */ 
.appointment-btn { 
  margin-top: auto; /*  empuja el bot贸n hacia abajo */ 
  align-self: center; /*  lo centra horizontalmente */ 
  padding: 0.6rem 1.2rem; 
  background: #fff; 
  color: #a06a6a; 
  border: none; 
  border-radius: 50px; 
  cursor: pointer; 
  font-family: "Josefin Sans", sans-serif; 
  font-weight: bold; 
  transition: all 0.3s ease; 
}

.appointment-btn:hover {
  background: #875858;
  color: #fff;
}