/* Títulos */
h1, h2, h3, h4, .button {
  font-family: "Yeseva One", serif;
  font-weight: 700;
}

/* Párrafos */
p, li, input, textarea {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

/* Contenedor general del carrusel */
.portfolio {
  padding: 3rem 1rem;
  background: #ba8282;
  text-align: center;
}

.portfolio h2 {
  font-size: 2rem;
  padding-top: 1px;
  margin-bottom: 4px;
  color: white;
}

.portfolio p {
  color: #e1e1e1;
  margin-bottom: 2rem;
}

.portfolio-item {
  position: relative;
  width: 90%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;       /* eje principal vertical */
  justify-content: flex-end;    /* contenido al fondo (abajo) */
  align-items: flex-start;      /* alineado a la izquierda */
  padding: 1rem;
  color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
}

.portfolio-item:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


.portfolio-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 10px;
  opacity: 0.7; 
  transition: opacity 0.3s ease; 
}

.portfolio-item:hover::before {
  opacity: 1;
}

.portfolio-item p,
.portfolio-item h2 {
  position: relative; /* asegura que el texto quede encima del overlay */
  z-index: 1;
  text-align: left;
  margin: 0.5rem 0;
}

/* Slide especial de CTA */
.cta-slide {
  background: linear-gradient(135deg, #d2a0a0, #c38a8a);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-slide h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.cta-slide p {
  margin-bottom: 1rem;
  text-align: center;
}

/* Botón de CTA */
.cta-btn {
  font-family: "Josefin Sans", sans-serif;
  padding: 0.8rem 1.5rem;
  background: #d5afaf;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
}

.cta-btn:hover {
  background: #ffffff;
  color: #d5afaf;
}

/* Flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #87585800 !important;   /* fuerza el color */
}

/* Paginación bullets */
.swiper-pagination-bullet {
  background-color: #ccc !important; /* color base */
  opacity: 1 !important;             /* que se vean siempre */
}

.swiper-pagination-bullet-active {
  background-color: #875858 !important; /* color del bullet activo */
}

.swiper-pagination {
  position: relative !important; /* en lugar de absolute */
  padding-right: 4rem;
  margin-top: 1rem;              /* espacio debajo del carrusel */
  text-align: left;            /* centrar las bolitas */
}

.divider{
  padding-left: 4rem;
}

.service-tag {
  position: relative; /* asegura que el texto quede encima del overlay */
  z-index: 1;
  display: inline-block;
  margin-top: 6px;
  background-color: #fff;   /* fondo blanco */
  color: #000;              /* texto negro */
  font-size: 0.75rem;       /* más pequeño */
  padding: 2px 8px;
  border-radius: 12px;      /* bordes redondeados */
  font-weight: 500;
}
