.client-home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

/* Contenedor general */
.top-section {
  display: flex;
  gap: 2rem;
  justify-content: center;
  background: transparent; /* solo organiza */
}

/* Caja de citas */
.left-column {
  position: relative;
  flex: 0 0 25%; /* ancho reducido */
  border-radius: 10px;
  padding: 1.5rem;
  overflow: hidden;
  background: linear-gradient(to bottom, #875858, #d6a1a1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: white;
}

/* Caja de consejos */
.right-column {
  position: relative;
  flex: 1;
  border-radius: 10px;
  padding: 1.5rem;
  overflow: hidden;
  background: #f4efef;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: #000;
}

/* Wrapper interno para imagen + texto */
.right-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Imagen */
.right-content .image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;   /* opcional: circular */
  flex-shrink: 0;       /* evita que se deforme */
}

/* Texto */
.right-content .text {
  flex: 1;              /* ocupa el resto del espacio */
}



/* Encabezado citas */
.appointments-header { 
  display: flex; 
  align-items: center; 
  gap: 2rem;
}

.appointments-count {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f6f6f6;
  margin-top: 0.5rem;
  text-align: left;
}

/* Botón circular */
.circle-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #955e5e;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  transform: rotate(-45deg);
}

.circle-btn:hover {
  background-color: #c28989;
  color: white;
}

/* Sección inferior */
.bottom-section {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f0f0f0;
}

/* Bolitas */
.bubble {
  position: absolute;
  border-radius: 50%;
  background: #e4bcbcba;
  filter: blur(8px);
  animation: float ease-in-out infinite;
}

.bubble.small { width: 15px; height: 15px; animation-duration: 5s; }
.bubble.medium { width: 25px; height: 25px; animation-duration: 6s; }
.bubble.large { width: 35px; height: 35px; animation-duration: 8s; }

@keyframes float {
  0% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(-20px) translateX(15px); }
  100% { transform: translateY(0) translateX(0); }
}


