.portfolio-card {
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  height: 300px; 
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  color: #fff;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease
}

/* Variante alargada */ 
.portfolio-card.tall { 
  height: 450px; /* 🔹 más alta */ 
}
.portfolio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.portfolio-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: 1;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolio-info .portfolio-description {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: white;
  text-align: left;
}

.portfolio-service {
  background: #fff;
  color: #333;
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
}
.delete-btn,
.edit-btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.delete-btn:hover,
.edit-btn:hover {
  background: #ba8282;
  color: #ffffff;
}

.portfolio-actions {
  display: flex;
  flex-direction: column;
  gap: 8px; /* espacio entre botones */
}


/* Overlay con gradiente */
.portfolio-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,   
    rgba(0, 0, 0, 0.3) 40%,  
    rgba(0, 0, 0, 0) 100%   
  );
  border-radius: 12px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.portfolio-card:hover::before {
  opacity: 1;
}