.wave-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px; /* altura de la ola */
}

.wave-top {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100px;
}

.wave-bottom {
  display: block;
  width: 100%;
  height: 100px;
  margin-top: -1px; /* pega la ola al contenido */
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
